{% extends 'sb_admin_template/index.html.twig' %}

{% block body %}
{#    form est une fonction qui prendre l'objet passer(createView) et le convertir en html,css ...#}
    {{ form_start(f) }}
    <div class="row">
        <div class="col">{{ form_row(f.firstname) }}</div>
        <div class="col">{{ form_row(f.lastname) }}</div>
        <div class="col">{{ form_row(f.age) }}</div>
    </div>
    <div class="col">{{ form_row(f.societe) }}</div>
    {% if isEdited %}
        <div class="col">{{ form_row(f.Edit) }}</div>
    {% else %}
        <div class="col">{{ form_row(f.Add) }}</div>
    {% endif %}
{% endblock %}

{% block PageTitle %}

    {% if isEdited %}
        Edit person
    {% else %}
        Add person
    {% endif %}

{% endblock %}

