{% extends 'sb_admin_template/index.html.twig' %}

{% block PageTitle %}Employees{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('personne.add') }}" class="btn btn-outline-primary" style="text-decoration: none">
        ADD <i class="fa-solid fa-square-plus"></i>
    </a>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">age</th>
            <th scope="col">Société</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        {% for p in personnes %}
            <tr>
                <th>{{ p.id }}</th>
                <td>{{ p.firstname }}</td>
                <td>{{ p.lastname }}</td>
                <td>{{ p.age }}</td>
                <td>{{ p.societe }}</td>
                <td>
                    <a href="{{ path('personne.detail',{id: p.id}) }}" class="link-info" style="text-decoration: none">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="#exampleModal" data-bs-toggle="modal" class="link-danger" style="text-decoration: none">
                        <i class="fa-solid fa-user-xmark"></i>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete {{ p.firstname }} {{ p.lastname }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this person ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">
                                        <a href="{{ path('personne.delete',{id: p.id}) }}" class="link-light" style="text-decoration: none">Confirm</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="{{ path('personne.update',{id: p.id}) }}" class="link-warning">
                        <i class="fa-solid fa-user-pen"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagination %}
    {% if isPaginated is defined and isPaginated %}
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    {% if pageactuelle != 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('personne.pagination', {page:pageactuelle-1, nbrRecord:nbrecords}) }}">Previous</a>
                        </li>
                    {% endif %}

                    {% for i in range(1,nbpagetotale) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('personne.pagination',{page: i , nbrRecord:nbrecords}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if pageactuelle != nbpagetotale %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('personne.pagination', {page:pageactuelle+1, nbrRecord:nbrecords}) }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}



